---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Hero />
  <main>
    <Experience />
    <Projects />
    <Gallery />
  </main>
  <Footer />
</Base>
